.face{
    width: 300px;
    height: 300px;
    background-color: orange;
    border-radius: 50%;
}
.mouth{
    width: 150px;
    height: 55px;
    background-color: brown;
    border-radius: 0 0 30px 30px;
    position: absolute;
    top: 200px;
    left: 80px;

}
#left-eye{
    height: 50px;
    width: 50px;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 80px;
    border-radius: 50%;
}
#right-eye{
    height: 50px;
    width: 50px;
    background-color: black;
    position: absolute;
    top: 80px;
    left: 170px;
    display: inline-block;
    border-radius: 50%;
    
}